#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GSJC2
Comment=GREGOR Slit Jaw Camera 2
Categories=Application;
Exec=sjcclient -c /opt/sjcam/etc/gsjc/sjcclient-gsjc2.ini
Icon=/opt/sjcam/share/gsjc/camera-sj.png
Terminal=false
StartupNotify=false
