
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GSJC2
Comment=GREGOR Slit Jaw Camera 2
Categories=Application;
Exec=gsjcgui2
Icon=/home/observer/.opt/sjcam/camera-sj.png
Terminal=false
StartupNotify=false
